<center>
	<form accept-charset="UTF-8" action="/admin/add" method="post">
		<div style="margin:0;padding:0">
			Name:	<input name="utf8"/>
			<input name="authenticity_token" type="hidden" value="f755bb0ed134b76c432144748a6d4b7a7ddf2b71" />
		</div>
		<%= submit_tag 'Make Moderator' %>
	</form>
</center>
